html {
    height: 100%;
}
body {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 100%;
}
.topmenu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.article {
    flex: auto;
}
.header, .content {
    padding: 0 1em;
}
.footer {
    flex-basis: 2em;
    padding: 0 1em;
}

.topmenu {
    background-color: rgba(255, 255, 255, .9);
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    color: black;
}
.topmenu .pure-menu-heading {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: .5em 1em .5em 0;
    text-transform: none;
}
.topmenu a {
    text-decoration: none;
    color: black;
}
.pure-menu-active > .pure-menu-link,
.pure-menu-link:hover,
.pure-menu-link:focus {
    background-color: rgba(100,  100, 100, .2);
}
.pure-menu-selected {
    background-color: rgba(100,  100, 100, .1);
}

.collapsible-menu {
    font-size: 0;
}
:target .collapsible-menu, [aria-expanded="true"] .collapsible-menu {
    font-size: 1em;
}
#main-menu ul {
    transition: font-size .3s ease-out;
}

.action-list .pure-menu-link {
    padding: .5em;
}
.action-list .menu-close {
    display: none;
}
:target .action-list .menu-toggle {
    display: none;
}
:target .action-list .menu-close {
    display: inline-block;
}

.footer {
    background-color: rgba(255, 255, 255, .9);
    border-top: 1px solid rgba(0, 0, 0, .3);
    color: black;
}

.footer p {
    margin: .5em 0;
}

.mascot-section .article,
.mascot-page .article {
    background-color: green;
    color: white;
}
.tags-taxonomy .article,
.special-home .article {
    background-color: navy;
    color: white;
}
.special-404 .article {
    background-color: darkred;
    color: white;
}

.mascot-section .header,
.tags-taxonomy .header,
.special-home .header {
    background-color: white;
    color: black;
    padding: 1px 1em;
}

.special-home .content, .mascot-section .content,
.mascot-page .content, .special-404 .content {
    padding: 0;
}

.mascot {
    background-color: white;
    color: black;
    margin: 150px auto 0;
    max-width: 600px;
    padding: 1em;
    text-align: center;
}
.mascot img {
    border: 8px solid white;
    margin-top: -166px;
}

.mascot-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: .5em;
}
.mascot-item {
    break-inside: avoid;
    padding: .5em;
}
.mascot-link {
    background-color: rgba(255, 255, 255, .8);
    color: black;
    display: block;
    padding: .5em;
    text-decoration: none;
}
.mascot-link:hover, .mascot-link:focus, .mascot-link:active {
    background-color: white;
    color: black;
}
.mascot-name {
    display: block;
    margin-top: .5em;
    text-align: center;
}

@media screen and (min-width: 35.5em) {
    .pure-img.pull-right {
        float: right;
        margin: 0 0 1em 1em;
    }
}