html {
    height: 100%;
}
body {
    display: flex;
    flex-flow: column;
    min-height: 100%;
}
.header {
    flex: 0 1 auto;
    padding: 0 1em;
    position: sticky;
    top: 0;
}
.content {
    flex: 1 1 auto;
    padding: 0 1em;
}
.footer {
    flex: 0 1 40px;
    padding: 0 1em;
}

.header {
    background-color: rgba(255, 255, 255, .9);
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}
.header h1 {
    font-size: 1.2em;
}
.header a {
    text-decoration: none;
    color: black;
}

.footer {
    background-color: rgba(255, 255, 255, .9);
    border-top: 1px solid rgba(0, 0, 0, .3);
}

.mascot-page .content {
    background-color: green;
    padding: 0;
}
.special-404 .content {
    background-color: darkred;
    padding: 0;
}
.mascot-page article, .special-404 article {
    background-color: white;
    margin: 150px auto 0;
    max-width: 600px;
    padding: 1em;
    text-align: center;
}
.mascot-page img, .special-404 img {
    border: 8px solid white;
    margin-top: -166px;
}