{{ define "main" }}
<article class="single">
  <header>
    {{- range .Resources.ByType "image" | first 1 }}
    {{ $image := .Fill (delimit (slice (.Params.anchor | default "") "300x300" "q75") " " | string) }}
    <p><img src="{{ $image.RelPermalink }}" alt="{{ .Title }}" height="{{ $image.Height }}" width="{{ $image.Width }}"></p>
    {{- end }}

    <h1>{{ .Title }}</h1>
  </header>

  {{ .Content }}

  {{- with .Params.tags }}
  <p><i class="fa fa-tags" title="{{ . | len | i18n "Tags" }}"></i>
  {{- range . }}
    <a href="{{ "tags/" | relURL }}{{ . | urlize }}" class="tag tag-{{ . | urlize }}">{{ . }}</a>
  {{- end }}
  </p>
  {{- end }}

  {{- with .Params.social }}
  <div class="social-menu pure-menu pure-menu-horizontal"><ul class="pure-menu-list">
    {{- range $name, $href := . }}
    {{- $data := index $.Site.Data.social $name | default $.Site.Data.social.default }}
    {{- $icon := index $data "icon" | default "fa fa-link" }}
    {{- $title := index $data "title" | default $name }}
    <li class="pure-menu-item"><a href="{{ $href | safeURL }}" class="pure-menu-link"><i class="{{ $icon }} fa-2x" title="{{ $title }}"></i></a></li>
    {{- end }}
  </ul></div>
  {{- end }}
</article>
{{ end }}
{{ define "footer" }}<!-- no footer -->{{ end }}