{{- $currentPage := . -}}
<nav class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list pull-left">
    {{- range .Site.Menus.main }}
    <li class="pure-menu-item{{if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} pure-menu-selected{{end}}">
      <a class="pure-menu-link" href="{{ .URL }}">
        <i class="{{ .Page.Params.icon | default "fas fa-file" }} fa-fw" title="{{ .Name }}"></i>
      </a>    
    </li>
    {{- end }}
  </ul>
  <ul class="pure-menu-list pull-right">
    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
      <a href="#filter" class="pure-menu-link">
        <span class="fas fa-sliders-h" title="Filter"></span>
      </a>
      <ul class="pure-menu-children">
      {{- with .Site.Menus.filter }}
        {{- range . }}
        <li class="pure-menu-item{{if or ($.IsMenuCurrent "filter" .) ($.HasMenuCurrent "filter" .) }} pure-menu-selected{{end}}">
          <a class="pure-menu-link" href="{{ .URL }}">{{ .Name }}</a>    
        </li>
        {{- end }}
        <li class="pure-menu-separator"></li>
      {{- end }}
      {{- range ($.Site.GetPage "taxonomyTerm" "tags").Pages.ByTitle }}
        <li class="pure-menu-item{{ if or (eq $currentPage .) (in $currentPage.Params.tags .Title) }} pure-menu-selected{{ end }}"><a href="{{ .RelPermalink }}" class="pure-menu-link">{{ .Title }}</a></li>
      {{- end }}
      </ul>
    </li>
  </ul>
  <p class="pure-menu-heading"><a href="{{ "/" | relURL }}">{{ .Site.Title }}</a></p>
</nav>
