
<meta itemprop="name" content="{{ .Title }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
{{- if .Params.Twitter }}
<meta name="twitter:site" content="{{ .Params.Twitter }}">
{{- else if .Site.Params.Twitter }}
<meta name="twitter:site" content="{{ .Site.Params.Twitter }}">
{{- end }}
{{- if .Params.Author.Twitter }}
<meta name="twitter:creator" content="{{ .Params.Author.Twitter }}">
{{- else if .Site.Params.Author.Twitter }}
<meta name="twitter:creator" content="{{ .Site.Params.Author.Twitter }}">
{{- end }}
{{- with .Resources.ByType "image" }}
  <meta name="twitter:card" content="summary_large_image">
  {{- range . }}
    <meta property="og:image" content="{{ .Permalink }}">
    <meta property="og:image:alt" content="{{ .Title }}">
    <meta property="og:image:width" content="{{ .Width }}">
    <meta property="og:image:height" content="{{ .Height }}">
  {{- end }}
{{- else }}
  <meta name="twitter:card" content="summary">
{{- end }}
{{- if not .Lastmod.IsZero }}
  <meta property="og:updated_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" | safeHTML }}">
  <meta property="article:modified_time" content="{{ .Lastmod }}">
{{- end }}
{{- if .Description }}
{{- $.Scratch.Set "description" .Description }}
{{- else }}{{ if .IsPage }}
{{- $.Scratch.Set "description" .Summary }}
{{- end }}{{ end }}
{{- if $.Scratch.Get "description" }}
  <meta name="description" content="{{ $.Scratch.Get "description" }}">
  <meta itemprop="description" content="{{ $.Scratch.Get "description" }}">
  {{- if or .IsPage .IsHome }}
    <meta property="og:description" content="{{ $.Scratch.Get "description" }}">
  {{- end }}
{{- end }}
{{- with .Keywords }}
  <meta itemprop="keywords" content="{{ delimit . ", " }}">
{{- end }}
{{- if not .PublishDate.IsZero }}
  <meta itemprop="datePublished" content="{{ .PublishDate }}">
  {{- if or .IsPage .IsHome }}
    <meta property="article:published_time" content="{{ .PublishDate }}">
  {{- end }}
{{- end }}
{{- if .IsPage }}
  {{- with .Site.Title }}
    <meta property="og:site_name" content="{{ . }}">
  {{- end }}
  {{- if .Params.Author.Facebook }}
    <meta property="article:author" content="{{ .Params.Author.Facebook }}">
  {{- else if .Site.Params.Author.Facebook }}
    <meta property="article:author" content="{{ .Site.Params.Author.Facebook }}">
  {{- end }}
  <meta property="article:section" content="{{ .CurrentSection.Title }}">
{{- end }}
{{- range .Params.tags }}
  <meta property="article:tag" content="{{ . }}">
{{- end }}
{{- if gt .WordCount 0 }}
<meta itemprop="wordCount" content="{{ .WordCount }}">
{{- end }}