{{ define "main" }}
<article>
  <h2>{{ .Title }}</h2>
  {{ .Content }}
</article>
{{ end }}
{{ define "aside" }}
  <div class="mascot-list">
  {{ range .Data.Pages }}
    {{ $page := . }}
    {{- range .Resources.ByType "image" | first 1 }}
    {{ $image := .Fill (delimit (slice (.Params.anchor | default "") "300x300" "q75") " " | string) }}
    <div class="mascot-item">
      <a href="{{ $page.RelPermalink }}" class="mascot-link">
        <img src="{{ $image.RelPermalink }}" title="{{ $page.Title }}" alt="{{ .Title }}" height="{{ $image.Height }}" width="{{ $image.Width }}" class="pure-img">
        <span class="mascot-name">{{ $page.Title }}</span>
      </a>
    </div>
    {{- end }}
  {{ end }}
  </div>
  </ul>
{{ end }}
