{{ define "title" }}
{{- .Title -}}
{{ end }}
{{ define "main" }}
    <h1>{{ .Title }}</h1>
    <article>
    {{ .Content }}
    </article>
{{ end }}
{{ define "aside" }}
    <div class="mascot-list">
        {{- range (where .Data.Pages "Section" "mascot") | first 3 }}
        {{- $page := . }}
        {{- range .Resources.ByType "image" | first 1 }}
        {{ partial "mascot-item.html" (dict "page" $page "image" . )}}
        {{- end }}
        {{- end }}

        {{- $more := .Resources.GetMatch "more-mascots" }}
        {{- $page := .Site.GetPage "section" "mascot" }}
        {{ partial "mascot-item.html" (dict "page" $page "image" $more "name" "More Mascots" )}}
    </div>
{{ end }}
